.bg-body {
    background: #f48b2e;
    background: linear-gradient(0deg, rgba(244,139,46,1) 0%, rgba(255,255,255,1) 100%);
    min-height: 100vh;
  }
  
  .logo {
    text-align: center;
    margin: 10px;
  }

  .container-page {
    display: flex;
    margin: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 39em;
  }

  .page-columns {
    flex: 50%;
  }

  .page-columns:nth-child(2) {
    text-align: center;
  }

  .page-columns > img {
    max-width: 500px;
  }

  .return-btn {
    width: 200px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #f3f0f0;
    margin: 30px;
  }

  .return-btn:hover {
    background-color: #f48b2e;
  }

  .return-link {
    text-decoration: none;
    color: black;
  }

  @media screen and (max-width:700px) {
    .container-page {
      flex-direction: column;
    }
    .container-page:nth-child(1){
      order: 2;
    }
    .container-page:nth-child(2){
      order: 1;
    }
  }

  .footer-aboutpage {
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 3px;
  }
