.App {
  text-align: center;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: grey;
}

.product-card {
  max-width: 300px;
  padding: 30px;
  background-color: white;
  margin: 10px;
}
